@media screen and (max-width: 1549px) {
    .section__newMenu {
        padding-top: 75px; /**/
        position: relative;
    }
    .h2 {
        font-weight: bold;
        font-size: 1.5rem; /**/
        color: #231f20;
    }
    .block__newMenu {
        width: 87vw; /**/
        height: auto;
        display: flex;
        overflow: hidden;
        margin-top: 39px; /**/
    }
    .img__position {
        width: 238.27px; /**/
        height: 364.1px; /**/
        position: absolute;
        z-index: -1;
        top: 12px;
        left: -43px; /**/
        object-fit: contain;
    }
}
@media screen and (max-width: 768px) {
    .section__newMenu {
        padding-top: 42px;
    }
    .h2 {
        font-size: 1.3125rem;
    }
    .block__newMenu {
        width: 93vw;
        margin-top: 23px;
    }
    .img__position {
        width: 196.67px;
        height: 252.38px;
        left: -60px;
        opacity: 0.5;
    }
}
@media screen and (max-width: 320px) {
    .section__newMenu {
        padding-top: 24px;
    }
    .h2 {
        font-size: 1.1875rem;
    }
    .block__newMenu {
        margin-top: 16px;
    }
    .img__position {
        width: 89px;
        height: 126px;
        top: 32px;
        left: -18px;
    }
}
