@media screen and (max-width: 1549px) {
    .Hamburger {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .Hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        width: 46px;
        height: 27px;
    }
    .Burger {
        display: flex;
        width: 46px;
        height: 3px;
        position: relative;
        background-color: var(--grey-color);
        transition: all 0.15s ease-in-out;
    }
    .Burger::after,
    .Burger::before {
        background-color: var(--grey-color);
        content: '';
        width: 46px;
        height: 3px;
        position: absolute;
        transition: all 0.15s ease-in-out;
    }
    .Burger::before {
        transform: translateY(-9px);
    }
    .Burger::after {
        transform: translateY(9px);
    }
    .Burger__active {
        transform: translateX(-18px);
        background-color: transparent;
    }
    .Burger__active::before {
        transform: rotate(45deg);
    }
    .Burger__active::after {
        transform: rotate(-45deg);
    }
}

@media screen and (max-width: 320px) {
    .Hamburger {
        width: 39px;
    }

    .Burger {
        width: 39px;
    }
    .Burger::after,
    .Burger::before {
        width: 39px;
    }
}
