@media screen and (max-width: 1549px) {
    .adress__container {
        position: static; /**/
        overflow: hidden;
    }
    .block__contacts_middle {
        display: flex;
        align-items: center;
    }
    .tel__contacts {
        color: var(--yellow-color);
        font-weight: 700;
        font-size: 2.375rem; /**/
        text-transform: uppercase;
        transition: color 0.5s;
    }
    .tel__contacts:hover {
        color: var(--hover-link);
    }
    .tel__contacts:active {
        color: var(--active-link);
    }
    .image_position {
        position: absolute;
        top: 203px;
        right: 1px; /**/
        width: 196px; /**/
        height: 281px; /**/
        z-index: 0;
        overflow: hidden;
    }
    .img__contacts {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .adress__contacts p:first-of-type {
        font-weight: 700;
        font-variant: small-caps;
        margin-top: 35px; /**/
        font-size: 1.625rem; /**/
        color: var(--black-color);
    }
    .adress__contacts p:last-of-type {
        font-weight: 600;
        font-size: 0.9375rem; /**/
        margin-top: 12px;
        font-variant: small-caps;
        color: var(--black-color);
    }
}
@media screen and (max-width: 768px) {
    .adress__contacts {
        margin-top: 17px;
        margin-bottom: 14px;
    }
    .adress__container {
        margin-top: 6px;
        position: relative;
    }
    .tel__contacts {
        font-size: 1.875rem;
    }
    .image_position {
        top: 5px;
        right: 0px;
        width: 76.11px;
        height: 88.09px;
        z-index: -1;
        overflow: auto;
    }
    .img__contacts {
        object-fit: contain;
    }

    .adress__contacts p:first-of-type {
        margin-top: 23px;
        font-size: 1.125rem;
    }
    .adress__contacts p:last-of-type {
        font-size: 0.825rem;
    }
}
@media screen and (max-width: 320px) {
    .image_position {
        right: -8px;
        width: 60.11px;
        height: 76.09px;
        transform: rotate(-45deg);
        z-index: -1;
    }
    .img__contacts {
        width: 100%;
        height: 100%;
    }

    .adress__contacts p:first-of-type {
        font-size: 1rem;
    }
    .adress__contacts p:last-of-type {
        font-size: 0.75rem;
    }
}
