@media screen and (max-width: 1549px) {
    .block__demoPizza {
        background-color: var(--white-color);
        border-radius: 12px;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
        display: flex;
        align-items: center;
        margin-right: 29px;
        padding-top: 14px; /**/
        padding-bottom: 14px;
        border: 1px solid #faebeb;
    }
    .block-info__newPizza {
        display: flex;
        flex-direction: column;
        margin-left: 25px; /**/
        margin-right: 35px; /**/
    }
    .img__pizzaDemo {
        width: 56px; /**/
        margin-left: 17px; /**/
    }
    .block-info__newPizza p:first-child {
        font-weight: 700;
        font-size: 1.125rem; /**/
        margin-top: 15px; /**/
    }
    .block-info__newPizza p:last-child {
        font-weight: 800;
        font-size: 1rem; /**/
        color: var(--yellow-color);
        margin-top: 8px; /**/
    }
}
@media screen and (max-width: 768px) {
    .block__demoPizza {
        padding-top: 11px;
    }
    .block-info__newPizza {
        margin-left: 14px;
        margin-right: 32px;
    }
    .img__pizzaDemo {
        width: 56px;
        margin-left: 15px;
    }
    .block-info__newPizza p:first-child {
        font-weight: 700;
        font-size: 0.875rem;
        margin-top: 0;
    }
    .block-info__newPizza p:last-child {
        font-size: 0.8125rem;
        margin-top: 9px;
    }
}
@media screen and (max-width: 320px) {
    .block__demoPizza {
        margin-right: 12px;
        padding-top: 12px;
        padding-bottom: 16px;
    }
    .block-info__newPizza {
        margin-left: 16px;
        margin-right: 35px;
    }

    .block-info__newPizza p:last-child {
        margin-top: 6px;
    }
}
