@media screen and (max-width: 1549px) {
    .map__section {
        background-color: var(--blue-light-color);
        padding-top: 32px;
        padding-bottom: 74px; /**/
        margin-top: 32px;
    }
    .map__local {
        border-radius: 14px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .map__local > iframe {
        width: 100%;
        height: 100%;
        border: 1px;
    }
}
@media screen and (max-width: 768px) {
    .map__section {
        padding-bottom: 52px;
    }
}

@media screen and (max-width: 320px) {
    .map__section {
        padding-bottom: 26px;
        padding-top: 0px;
    }
}
