@media screen and (max-width: 1549px) {
    .wrapper__cart-pay {
        display: flex;
        gap: 27px;
    }
    .block__cart-pay {
        display: flex;
        flex-direction: column;
        width: 50%; /**/
        margin-top: 3px;
        margin-left: 24px;
    }
    .input-decor__cart {
        border: 1.5px solid #e2e2e9;
        border-radius: 7px;
        height: 46px;
        background-color: #fff;
        padding-left: 19px; /**/
        font-weight: 600; /**/
        font-size: 1.0625rem; /**/
        line-height: 165%; /**/
        color: #231f20; /**/
    }

    .inputs__cart-pay_bottom {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative; /**/
    }
    .img-card__position {
        display: block;
        width: 25px;
        height: 15px;
        position: absolute;
        top: 37%;
        left: 87%;
    }
    .img-decor__cart {
        width: 37.67%; /**/
    }

    .inputs__cart-pay_bottom .input-decor__cart:nth-of-type(1n) {
        width: 62.73%;
    }
    .inputs__cart-pay_bottom .input-decor__cart:nth-of-type(2n) {
        width: 33.22%;
    }
}
@media screen and (max-width: 768px) {
    .wrapper__cart-pay {
        flex-direction: column;
        gap: 0px;
    }
    .block__cart-pay {
        width: 90%;
    }
    .input-decor__cart {
        padding-left: 18px;
    }
    .inputs__cart-pay_bottom {
        position: static;
    }
    .img-card__position {
        display: none;
    }
    .img-decor__cart {
        width: 53%; /**/
        margin-left: 24px;
        margin-top: 14px;
    }

    .inputs__cart-pay_bottom .input-decor__cart:nth-of-type(1n) {
        width: 52.77%;
    }
    .inputs__cart-pay_bottom .input-decor__cart:nth-of-type(2n) {
        width: 43.25%;
    }
}
@media screen and (max-width: 320px) {
    .img-decor__cart {
        width: 88%;
    }
}
