@media screen and (max-width: 1549px) {
    .select-option {
        padding: 6px 10px;
        border-bottom: 1px solid #e4e4e4;
        cursor: pointer;
    }
    .select-option:last-child {
        border-bottom: none;
    }
    .select-option:hover {
        background-color: #d9d9d9;
    }
}
