@media screen and (max-width: 1549px) {
    .form__order {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 13px; /**/
    }
    .div-form__order_flex {
        display: flex;
        flex-direction: row; /**/
        align-items: center; /**/
    }
    .form__order label {
        width: 52%; /**/
    }
    .form__order input[type='text'],
    .form__order input[type='tel'],
    .form__order input[type='email'] {
        border: 1.5px solid #e2e2e9;
        border-radius: 8px;
        width: 85.77%; /**/
        margin-top: 8px;
        padding-left: 15px;
        font-weight: 700;
        font-size: 0.8125rem;
        line-height: 215%;
        color: #231f20;
        margin-left: 20px; /**/
    }
    .form__order input[type='text'],
    .form__order input[type='tel'],
    .form__order input[type='email'] {
        height: 48px; /**/
    }

    .block-deliver__order {
        display: flex;
        flex-direction: column;
    }
    .div__order_flex {
        display: flex;
        flex-direction: column;
    }
    .div__order_flex input[type='radio'] {
        margin-right: 8px;
    }

    .textarea_resize {
        border: 1.5px solid #e2e2e9;
        border-radius: 8px;
        margin-top: 10px;
        padding-left: 15px;
        font-weight: 700;
        font-size: 0.8125rem;
        line-height: 215%;
        color: #231f20;
        resize: none;
        width: 573px; /**/
        margin-left: 20px;
    }
    .btn__order_submit {
        border-radius: 8px;
        width: 30.2%; /**/
        height: 55px; /**/
        background-color: var(--yellow-color);
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        font-size: 0.9375rem;
        line-height: 187%;
        color: #231f20;
    }
    .error {
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 150%;
        color: red;
    }
}
@media screen and (max-width: 768px) {
    .form__order {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .div-form__order_flex {
        flex-direction: column;
        align-items: flex-start;
    }
    .form__order label {
        width: 80%;
    }
    .form__order input[type='text'],
    .form__order input[type='tel'],
    .form__order input[type='email'],
    .form__order textarea {
        margin-left: 0;
    }
    .form__order input[type='text'],
    .form__order input[type='tel'],
    .form__order input[type='email'] {
        height: 35px;
    }

    .textarea_resize {
        margin-top: 10px;
        resize: none;
        width: 100%;
    }
    .btn__order_submit {
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .form__order {
        gap: 8px;
    }
    .form__order label {
        width: 100%;
    }
}
