@media screen and (max-width: 1549px) {
    .section__pay-finish {
        padding-top: 59px; /**/
    }
    .block-info__pay-finish {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 10vh;
    }
    .h1__pay-finish {
        font-weight: 600;
        font-size: 1.875rem; /**/
        line-height: 65%;
        color: var(--yellow-color);
    }
}
@media screen and (max-width: 768px) {
    .section__pay-finish {
        padding-top: 11px;
    }
}
@media screen and (max-width: 320px) {
    .h1__pay-finish {
        font-size: 1.625rem;
    }
}
