@font-face {
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat/static/Montserrat-Bold.ttf')
        format('ttf');
    font-weight: 700;
}
@font-face {
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat/static/Montserrat-SemiBold.ttf')
        format('ttf');
    font-weight: 600;
}
@font-face {
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat/static/Montserrat-ExtraBold.ttf')
        format('ttf');
    font-weight: 800;
}
@font-face {
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat/static/Montserrat-Medium.ttf')
        format('ttf');
    font-weight: 500;
}
@font-face {
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat/static/Montserrat-Black.ttf')
        format('ttf');
    font-weight: 900;
}
@font-face {
    font-family: Inter;
    src: url('../public/fonts/Inter/static/Inter_18pt-Bold.ttf') format('ttf');
    font-weight: 700;
}
@font-face {
    font-family: Awesome;
    src: url('../public/fonts/Awesome/fa-regular-400.ttf') format('ttf'),
        url('../public/fonts/Awesome/fa-regular-400.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: Awesome;
    src: url('../public/fonts/Awesome/fa-solid-900.ttf') format('ttf'),
        url('../public/fonts/Awesome/fa-solid-900.woff2') format('woff2');
    font-weight: 900;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 16px;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}
a {
    color: inherit;
}
a:link,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
input,
button,
textarea {
    font-size: inherit;
}
button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

:root {
    --grey-color: #686466;
    --black-color: #0e0c0d;
    --yellow-color: #f7d22d;
    --white-color: #fff;
    --pink-color: #ff2e65;
    --blue-light-color: #e3ecf5;
    --bg-color-grey: rgba(241, 242, 245, 0.6);
    --font-family: Montserrat, sans-serif;
    --hover-button: #d1ae0f;
    --active-button: #dd5f16;
    --hover-link: rgb(132, 132, 233);
    --active-link: rgb(80, 80, 248);
    --dark-html: #282c34;
    --light-html: #fff;
}
.dark {
    background-color: var(--dark-html);
}
.light {
    background-color: var(--light-html);
}

@media (max-width: 1549px) {
    [class*='__container'] {
        max-width: 1108px;
        margin: 0px auto;
        padding: 0px 16px;
    }
}

@media (max-width: 768px) {
    [class*='__container'] {
        max-width: 728px;
        margin: 0px auto;
        padding: 0px 20px;
    }
}
@media (max-width: 320px) {
    [class*='__container'] {
        max-width: 300px;
        margin: 0px auto;
        padding: 0px 10px;
    }
}
