@media screen and (max-width: 1549px) {
    .shop__steps {
        display: flex;
        justify-content: space-between;
        position: relative;
        border-bottom-width: 2px;
        border-bottom-color: #ececf1;
        border-bottom-style: solid;
        padding-bottom: 19px;
    }
    .shop__step {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .step_active,
    .step_default {
        font-weight: 800;
        font-size: 0.9375rem;
        line-height: 187%;
        display: flex;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
    }
    .step_active {
        color: #231f20;
    }
    .step_default {
        color: var(--yellow-color);
    }
    .step_default {
        border-color: var(--yellow-color);
        border-width: 2px;
        border-style: solid;
        opacity: 0.6;
    }
    .step_active {
        background-color: var(--yellow-color);
    }
    .step_active + p,
    .step_default + p {
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 200%;
        text-align: center;
    }
    .hr_dashed {
        border: 2px dashed #b8c5d0;
        width: 14.82%;
        height: 0px;
        position: absolute;
    }
    .hr_dashed:first-of-type {
        top: 17px;
        left: 164px; /**/
    }
    .hr_dashed:last-of-type {
        top: 17px;
        left: 694px; /**/
    }
    .step_default + p {
        color: rgba(105, 111, 122, 0.95);
        opacity: 0.8;
    }
    .text__step_second {
        width: 141px;
    }
    .text__step_threed {
        width: 95px;
    }
}
@media screen and (max-width: 768px) {
    .hr_dashed:first-of-type {
        left: 101px;
    }
    .hr_dashed:last-of-type {
        left: 433px;
    }
}
@media screen and (max-width: 320px) {
    .shop__steps {
        padding-bottom: 11px;
    }

    .step_active,
    .step_default {
        font-weight: 700;
    }
    .step_active {
        color: #231f20;
    }
    .step_default {
        color: var(--yellow-color);
    }
    .step_default {
        border-color: var(--yellow-color);
        border-width: 2px;
        border-style: solid;
        opacity: 0.6;
    }
    .step_active {
        background-color: var(--yellow-color);
    }
    .step_active + p,
    .step_default + p {
        font-size: 0.6875rem;
        line-height: 255%;
    }
    .hr_dashed {
        width: 40px;
    }
    .hr_dashed:first-of-type {
        top: 17px;
        left: 53px;
    }
    .hr_dashed:last-of-type {
        top: 17px;
        left: 163px;
    }
    .step_default + p {
        color: rgba(105, 111, 122, 0.95);
        opacity: 0.8;
    }
    .text__step_second {
        width: 120px;
    }
    .text__step_threed {
        width: 79px;
    }
}
