@media screen and (max-width: 1549px) {
    .actions__section {
        padding-top: 76px; /**/
    }

    .cake__h2,
    .cake__h2 > span {
        font-weight: 800;
        font-size: 2.75rem; /**/
        margin-bottom: 52px; /**/
        text-align: center;
    }
    .cake__h2 {
        color: var(--black-color);
    }
    .cake__h2 > span {
        color: var(--yellow-color);
    }
    .block__actions {
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
        align-items: center; /**/
        width: 100%;
        height: 405.5px;
    }
    .block__actions_top {
        width: 48.73%; /**/
    }
    .cake__image_top {
        border-radius: 20px; /**/
        width: 100%; /**/
        height: 405.5px; /**/
    }
    .block__actions_bottom {
        display: grid;
        margin-top: 0px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 30px; /**/
        column-gap: 27px; /**/
        width: 51.27%; /**/
        margin-left: 29px; /**/
    }
    .block__actions_bottom img {
        height: 189px; /**/
        width: 100%; /**/
    }

    .actions_all {
        display: flex;
        width: 100%;
        height: 159px; /**/
    }
    .btn__actions_all {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--yellow-color);
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 200%;
        color: #fff;
        font-family: var(--font-family);
        border-radius: 23px;
        width: 14.41%; /**/
        height: 48px;
        margin-top: 49px; /**/
        margin-left: 50%; /**/
        transition: background-color 0.5s;
    }
    .btn__actions_all:hover {
        background-color: var(--hover-button);
    }
    .btn__actions_all:active {
        background-color: var(--active-button);
    }
    .wrap__img_position {
        position: relative;
        height: 348px; /**/
        width: 210px; /**/
        overflow: hidden;
        left: 400px; /**/
        top: -190px; /**/
        z-index: -1; /**/
    }
    .actions__image_right {
        height: 479px; /**/
        width: 378px; /**/
    }
}

@media screen and (max-width: 768px) {
    .actions__section {
        padding-top: 45px;
    }

    .cake__h2,
    .cake__h2 > span {
        font-size: 1.5rem;
        margin-bottom: 36px;
    }

    .block__actions {
        width: 100%;
        height: 255px;
    }
    .block__actions_top {
        width: 52.03%;
    }
    .cake__image_top {
        border-radius: 10px;
        width: 100%;
        height: 255px;
    }
    .block__actions_bottom {
        row-gap: 17px;
        column-gap: 14px;
        width: 47.97%;
        margin-left: 18px;
    }
    .block__actions_bottom img {
        height: 119px;
        width: 100%;
    }
    .actions_all {
        height: 128px;
    }
    .btn__actions_all {
        width: 21.97%;
        color: var(--black-color);
        margin-top: 30px;
        margin-left: 284px;
    }
    .wrap__img_position {
        height: 100%;
        width: 101px;

        left: 174px;
        top: 0px;
        z-index: 1;
    }
    .actions__image_right {
        position: absolute;
        top: 0;
        right: -3px;
        height: 128px;
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .actions__section {
        padding-top: 41px;
    }
    .cake__h2,
    .cake__h2 > span {
        font-size: 1.25rem;
        margin-bottom: 18px;
    }

    .block__actions {
        flex-direction: column;
        margin-bottom: 7px;
        width: 300px;
        height: auto;
    }
    .block__actions_top {
        width: 100%;
    }
    .cake__image_top {
        width: 100%;
        height: 213px;
    }
    .block__actions_bottom {
        margin-top: 12px;
        row-gap: 12px;
        column-gap: 12px;
        margin-left: 0;
        width: 100%;
    }
    .block__actions_bottom img {
        width: 144px;
        height: 101px;
    }
    .actions_all {
        height: 83px;
    }
    .btn__actions_all {
        font-size: 62.5%;
        line-height: 280%;
        width: 97px;
        height: 33px;
        margin-top: 20px;
        margin-left: 90px;
    }
    .wrap__img_position {
        width: 79px;
        left: 39px;
    }
    .actions__image_right {
        height: 100px;
        right: 5px;
    }
}
